@import url('https://fonts.googleapis.com/css?family=Cookie');

img {
    width: 400px;
    height: 400px;
}
body {
    font-family: monospace;
    background-color:black;
    color:purple
}
h1 {
    font-family: 'Cookie', cursive;
}   
p{
    text-indent: 20px;
}
h1:hover {
    color: pink;
}